extends layout

block content
    form#newmovie.form-newmovie(action="/admin/newmovie" method="post")
        div
            label Nombre:
            input#name.name(type="text" name="name" placeholder="Ingrese nombre de la pelicula")
        div
            label Descripcion:
            input#desc.desc(type="text" name="desc" placeholder="Ingrese una descripcion de la pelicula")
        div
            label Categoria:
            input#cat.cat(type="text" name="cat" placeholder="Ingrese la categoria de la pelicula")
        div
            label Directorio:
            input#dir.dir(type="text" name="dir" placeholder="Ingrese la ruta en que se encuentra el archivo")
        div
            label Extension:
            input#ext.ext(type="text" name="ext" placeholder="Ingrese la extension del archivo, ej: mkv, mp4")
        button(type="submit") Guardar Pelicula